<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Recipes from Rieethaa</title>
	<meta name="author" content="Rieethaa">
	<script src="public/jquery-1.6.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="public/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="public/backbone.js" type="text/javascript" charset="utf-8"></script>
	<script src="public/recipes.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="content/site.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script id='recipeSummaryTemplate' type='text/template'>
		<p>
			<div class='summary'><%= name %> by <%= chef %></div>
			<div class='details'></div>
		</p>
	</script>
	<script id='recipeDetailTemplate' type='text/template'>
		<div class='ingredients'>
			<span class='subtitle'> Ingredients </span>
			<ul>
				<%_.each(ingredients, function(ingredient){ %>
					<li>
					<p>
					<%= ingredient %>
					</p>
					</li>
				<%});%>
			</ul>
		</div>
		<div class='steps'>
			<span class='subtitle'> Instructions </span>
			<ol>
				<%_.each(steps, function(step){ %>
					<li>
					<p>
					<%= step %>
					</p>
					</li>
				<%});%>
			</ol>
		</div>
		<a class='editLink'>Edit</a>
	</script>
</head>
<body>
	<div id='container'>
      <ul id='recipeList'></ul>
    </div>
</body>
</html>
